
.container{
  margin-top: 1.4em;

}
.row1{
  margin-top: 2.4em;
  margin-left: 15%;
}
.products-center{
  display: flex;
  margin-top: 1.2em;
}
.p1{
  text-align: center;
  padding-right: 16.8em;
}
#pImage{
  width: 15vw;
  height: 37vh;
}
.overlay{
  display: block;
  opacity: 0;
  position: absolute;
  top: 2.2em;
  margin-left: 0;
  width: 20vh;
}
.product-top .overlay:hover{
  opacity: 0.8;
  margin-left: 0.3em;
  transition: 0.1s;
}
.overlay .fa{
  cursor: pointer;
  background-color: #e35c0eeb;
  color: #fff;
  font-size: 1.8em;
  padding: 0.2em;
  margin: 0.3em;
}
.words{
  float:left;
  margin-left: 2em;
  width: 10.5em;
}
#button{
  width: 7vw;
  height: 4vh;
  margin-top: 1em;
}
@media only screen and (max-width: 980px) {
  .mainSession{
    margin-top: 0em;
  }
  .row1{
    margin-top: 0.2em;
    margin-left: 1.5%;
  }
  .products-center{
    margin-top: 0.2em;
  }
  .p1{
    text-align: center;
    padding-right: 6.3em;
  }

  #pImage{
    width: 22vw;
    height: 18vh;
  }
  .overlay{
    top: 0.6em;
    margin-left: 0;
    width: 1.2vw;

  }
  .product-top .overlay:hover{
    margin-left: 0.1em;

  }
  .overlay .fa{
    font-size: 0.5em;
    padding: 0.2em;
    margin: 0.3em;
    width: 4vw;
    height: 2vh;
  }
  .words{
    float:left;
    margin-left: 0.2em;
    width: 6.5em;
  }
  #ratings{
    cursor: pointer;
  }
  #button{
    width: 9vw;
    height: 5.1vh;
    margin-top: 1.3em;
    font-size: 0.7em;
  }
}
